footer ,.push {
  text-align: center;
  background-color: #374c61;
  color: white;
  height: 100px;
}

.date{
    float: right;
    padding-right: 10px;
}

@media screen and (max-width: 500px) {
  footer{
    height: 150px;
  }
}