/* Style the header with a grey background and some padding */
header {
  overflow: hidden;
  background-color: #f5f5f5;
  padding: 5px 10px;
  height: 120px;
}

/* Style the header links */
header a {
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  color: black;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.logo {
    font-size: 34px;
    line-height: 1.1;
    text-align: left;
    font-weight: bold;
    font-family: serif;
    font-weight: bold;
    text-decoration: none;
}

.order_count_info{
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    float: left;
}

/* Change the background color on mouse-over */
header a:hover {
  background-color: #e8e8e8;
  color: black;
}

.language{
}

.header_link{
    color: #677780;
    font-weight: 600;
    font-size: 20px;
}

.right-header {
    justify-content: space-between;
    display: flex;
    float: right;
    color: #869eab;
    margin-top: 16px;
}
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 1000px) {

header {
  overflow: hidden;
  background-color: #f5f5f5;
  padding: 5px 10px;
  max-height: 260px;
}

  header a {
    float: none;
    display: block;
    text-align: left;
  }
  .right-header {
    float: none;
    height: 230px;
    width: max-content;
  }
}