.main_block{
    width: 45%;
    margin: auto;
    border-style: double;
    margin-top: 3%;
    background-color: aliceblue;
}

.table_block{
    max-height: 190px;
    overflow: auto;
    justify-content: space-evenly;
    border-style: inset;
    background-color: white;
}

.col-sm-10{
  display: flex;
}

.order_form{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    position: inherit;
    margin-top: 5%;
    text-align: center;
}

.error {
  color: red;
  margin-left: 5px;
}

.table table-striped{
overflow: auto;
}

@media screen and (max-width: 800px) {
  .main_block{
    width: 100%;
    margin-top: 0;
  }
}