body {
  background: url(../image/banner.jpg) no-repeat;
  background-size: cover;
  background-position-y: center;
}

.main_block{
    width: fit-content;
    margin: auto;
    margin-top: 2%;
    background-color: #f1f1f1;
    border-color: 0c4e88;
    border-radius: 10px;
    text-align: center;
    height: 350px;
    border-style: double;
}

.order_form{
    width: 600px;
    margin: auto;
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: aliceblue;
    text-align: center;
}


