body {
}
.content {
  min-height: calc(100% - 150px);
}

.table{
    position: inherit;
    font-weight: 600;
    line-height: 80%;
}

.pagination_down{
    padding-left: 47%;
    padding-right: 47%;
    display: flex;
    list-style: none;
    border-radius: .25rem;
}

.toolbar{
    display: flex;
    justify-content: center;
    }

.filter_block{
    margin-top: 1px;
}
