body {
  background: url(../image/banner.jpg) no-repeat;
  background-size: cover;
  background-position-y: center;
}

.main_block{
    width: fit-content;
    margin: auto;
    border-style: double;
    border-color: 0c4e88;
    border-radius: 10px;
    margin-top: 2%;
    background-color: #f1f1f1;


}

.order_form{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    position: inherit;
    margin-top: 3%;
    text-align: center;
}

.order_table{
    max-height: 45%;
    overflow: auto;
    justify-content: space-evenly;
    border-style: inset;
}